@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<ul>
    <li>Respecting your privacy is part of our core values.</li>
    <li>We do not sell or share your personal information to third-parties.</li>
    <li>Allowing us to get to know you helps us tailor your experience in finding jobs suited to you. This serice is free to you, and you can cancel at any time.</li>
</ul>
<p>
    <small>
        * Our privacy policy outlines how personal information collected during registration, such as contact details and employment history, is used for job-related services and communication. Users can opt out of automated messages and have control over their personal information. Information may be shared with clients and service providers as necessary, with strict guidelines to ensure privacy and compliance with legal requirements. For more details, please refer to the full privacy poicy
        <a href="https://www.campuspoint.com/Downloads/CampusPointTermsAndConditions.pdf" target="_blank">here</a>
    </small>
</p>
