body, html {
  /*background-color:#20a;*/
  /*
            height: 100%;
            background-image: url("/Content/images/palm-springs-luxury-rentals.jpg");
            background-position: center center;
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
            background-color: #464646;
            */
  /*filter: blur(2px);*/ }

body.active .bg-image {
  filter: blur(6px);
  -webkit-filter: blur(6px);
  width: unset; }

.bg-image {
  /* The image used */
  /*background-image: url("../../images/palm-springs-luxury-rentals.jpg");*/
  /* Add the blur effect */
  transition: -webkit-filter ease-in-out 500ms, filter ease-in-out 500ms, width ease-in-out 500ms;
  -webkit-transition: -webkit-filter ease-in-out 500ms;
  /* Full height */
  height: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: -10px;
  width: 150%; }
  .bg-image.login-1 {
    background-image: url("../../images/login/acmehouseco-webapp-login-bg01.jpg"); }
  .bg-image.login-2 {
    background-image: url("../../images/login/acmehouseco-webapp-login-bg02.jpg"); }
  .bg-image.login-3 {
    background-image: url("../../images/login/acmehouseco-webapp-login-bg03.jpg"); }
  .bg-image.login-4 {
    background-image: url("../../images/login/acmehouseco-webapp-login-bg04.jpg"); }
  .bg-image.login-5 {
    background-image: url("../../images/login/acmehouseco-webapp-login-bg05.jpg"); }
  .bg-image.login-6 {
    background-image: url("../../images/login/acmehouseco-webapp-login-bg06.jpg"); }
  .bg-image.login-7 {
    background-image: url("../../images/login/acmehouseco-webapp-login-bg07.jpg"); }
  .bg-image.login-8 {
    background-image: url("../../images/login/acmehouseco-webapp-login-bg08.jpg"); }
  .bg-image.login-9 {
    background-image: url("../../images/login/acmehouseco-webapp-login-bg09.jpg"); }
  .bg-image.login-10 {
    background-image: url("../../images/login/acmehouseco-webapp-login-bg10.jpg"); }

.loggin-in, .loggin-in .form-control, .loggin-in .btn, .loggin-in a {
  cursor: wait !important; }

#site-content {
  padding-top: 0 !important; }

#view-sitelogin {
  border-radius: 10px;
  /*border-radius: 10px;*/
  /*height: 340px;*/
  width: 350px;
  top: 45%;
  right: 40%;
  position: absolute;
  background: #fff;
  padding: 15px 15px 0;
  /*padding: 30px;*/
  /*box-shadow: 7px 7px 17px #20a;*/
  box-shadow: 7px 7px 17px #666; }

.btn-primary {
  width: 100%;
  padding: 16px;
  font-size: 16px;
  font-weight: 900;
  text-transform: uppercase; }

.img-fluid {
  margin-bottom: 15px; }

.fa-cog.fa-spin {
  margin-bottom: 5px; }
