<!-- Logout Warning -->
<div class="modal fade" id="mdl-logout-warning" tabindex="-1" role="dialog" aria-labelledby="mdlLogoutWarningLable">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true"><i class="fa fa-close text-danger"></i></span><span class="sr-only">Close</span></button>
                <h3 class="modal-title text-warning" id="mdlLogoutWarningLable"><i class="fa fa-sign-out"></i> Logout Warning</h3>
            </div>
            <div class="modal-body">
                It looks like you have been inactive for a while.  Would you like to continue working, or would you like to logout?
                <br /><br />
                If you do not make a choice, you will be automatically logged out in <strong id="lbl-lougout-warning-countdown"></strong> seconds.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-info" data-dismiss="modal">Continue Working</button>
                <a class="btn btn-warning" href="/Logout">Logout</a>
            </div>
        </div>
    </div>
</div>