@import url("https://fonts.googleapis.com/css2?family=Expletus+Sans:ital,wght@0,400..700;1,400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Expletus+Sans:ital,wght@0,400..700;1,400..700&family=Yatra+One&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  /*@apply bg-gray-200;*/
  background-color: #b6b1ad;
  font-family: "Expletus Sans";
}

blockquote {
  @apply border-l-4 border-gray-500 pl-4 ml-4 italic text-gray-700;
}

@layer components {
  .btn {
    width: 100%;
    @apply px-3 py-2 rounded-md text-white text-[#12b488] text-center;
  }
  .btn.router-link-exact-active {
    @apply bg-[#12b488] text-white;
  }
  .btn.btn-next {
    @apply bg-[#12b488] text-white;
  }
  .btn.btn-submit {
    @apply bg-orange-400 text-white;
  }
  .btn.btn-cta {
    @apply bg-fuchsia-600 text-white;
  }
  .card {
    @apply p-3 rounded-md bg-white shadow-md h-full;
  }
  .h-auto {
    height: auto !important;
  }
}
h1,
h2 {
  margin-bottom: 1em;
}

h1 {
  font-size: 2em;
  color: #12b488;
}

h2 {
  font-size: 1.5em;
  margin-bottom: 0.5em;
  @apply text-fuchsia-900;
}

p {
  margin: 1em 0;
}

.fontface-yatra {
  font-family: "Yatra One";
}

.flex {
  display: flex !important;
}