@model Guid
@{
    ViewBag.Title = "ResetPassword";
    Layout = "~/Views/Shared/_BaseLayout.cshtml";
}
<div class="bg-image"></div>

<div id="view-sitelogin" style="opacity:0" class="bg-transparent0">
    <div class="row">
        <div class="col-2"></div>
        <div class="site-logo-wrapper col-8">
            <h3 class="site-title text-center">Reset Password</h3>
        </div>
        <div class="col-2"></div>
    </div>
    <div class="container-fluid" style="padding-top:10px;">
        <div class="col">
            <div id="pwrest-message"></div>

            <div id="pwrest-form">
                <p>
                    <input type="password" id="password1" name="password1" required class="form-control" placeholder="Enter New Password" />
                </p>
                <p>
                    <input type="password" id="password2" name="password2" required class="form-control" placeholder="Enter New Password Again" />
                </p>
                <p class="center-block text-center">
                    <button class="btn btn-success btn-block" id="btn-pwrest" type="submit">Update</button>
                    <input type="hidden" id="id" name="id" value='@Model.ToStringOrDefault()'/>
                </p>
            </div>

                <div class="center-block text-center" style="padding:20px;">
                        <a href="~/Login">Back to Login</a>
                </div>

        </div>
    </div>
</div>

@section scripts{
    <script src="https://www.gstatic.com/firebasejs/5.7.2/firebase.js"></script>
}
@section header {
    <link rel="stylesheet" href="~/Content/styles/views/login.min.css" />
}
