<!-- Candidate Details -->
<div id="mdl-candidate-detail" class="modal" tabindex="-1">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title">
                    <div id="candidate-detail-header">
                        Loading...
                    </div>
                </div>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#Account">Account</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#FSI">FSI</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#Resume">Resume</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#Apps">Apps</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#Interviews">Interviews</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#Hires">Hires</a>
                    </li>
                    <li class="nav-item d-none">
                        <a class="nav-link" href="#Bulletins">Bulletins</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#Contacts">Contacts</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#Journal">Journal</a>
                    </li>
                </ul>
                <div class="tab-content" style="max-height:calc(100vh - 220px); overflow-y:auto; overflow-x:hidden;">
                    <div id="candidate-detail-body">Tab detail here...</div>
                </div>
            </div>
        </div>
    </div>
</div>