$default: #696a6c;
$bone: #eaeaea;
$slate: #696a6c; /*#6a7b8d;*/
$slateActive: #22292d;
$darkGrey: #777;
$black: #333;
$taupe: #eee9e4; /*#e7e7e7; #ede3dd;*/
$green: #8DC63F;
$blue: #337ab7;
$red: #ED1C24;
$orange: #F7941D;
$lightBlue: #E9F0F7;
$lightGrey: #ccc; /*#e5e5e5 */
$yellow: #FFF799;
$brightBlue: #17a2b8;
$teal: #17a2b8;
@import "_fonts.scss";