@page
@model Admin.Pages.Candidates.IndexModel
@{
    ViewData["Title"] = "Candidates";
    int ID = 0;
    int.TryParse(Request.Query["id"], out ID);
    Global.Search.Models.KeywordSearch _search = Model.KeywordSearch ?? new Global.Search.Models.KeywordSearch();
}
<h1 class="container row">
    <div class="col">@ViewData["Title"]</div>
    <div class="col text-right"><a href="#" class="btn btn-outline-success">[+]</a></div>
</h1>
@Html.Partial("_partials/Search", _search)
<hr />
<div id="view-candidate-list">Loading...</div>
@section Scripts {
    <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js" type="text/javascript"></script>
    <link href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.min.css" rel="stylesheet" />

    <script type="text/javascript">
        var cntLoad = 0;
        $(function () {
            console.log("Candidate list ready to load...");
            loadSearch = setInterval(function () {
                cntLoad++;
                $(".loading-img > span").text(cntLoad + "s");
            }, 1000);
            var c = $("#view-candidate-list"),
                form,
                data;

            var Candidates = {
                init: function () {
                    form = $("[name='search-candidates']");
                    Candidates.search.basic();
                },
                search: {
                    basic: function () {
                        console.log("Fetch Job List...");
                        var data = form.serializeObject();
                        $.ajax({
                            method: "get",
                            url: "/Candidates/List/CandidateList",
                            cache: false,
                            data: data,
                            success: function (d) {
                                //debugger;
                                c.html(d);
                            },
                            beforeSend: function () {
                                cntLoad = 0;
                                c.html('<div class="loading-img">Loading... <span></span></div>');
                            },
                            error: function () {
                                c.addClass("alert-danger");
                                c.html("Oops, an error has occured.")
                            }
                        });
                    }
                }
            };
            Candidates.init();
            $(document).on("change", "[name='search-candidates']", function (e) {
                Candidates.search.basic();
            });
        });
    </script>
}