@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
@section Title {
    <div class="text-center mb-5">
        <h3 class="text-success">Privacy Respect Policy</h3>
    </div>
}

<h1>@ViewData["Title"]</h1>

<ul>
    <li>Respecting your privacy is part of our core values.</li>
    <li>We do not sell or share your personal information to third-parties.</li>
    <li>Allowing us to get to know you helps us tailor your experience in finding jobs suited to you and is not made available outside our systems.</li> 
    <li>This service is free to you, and you can cancel at any time.</li>
</ul>

<small>
	* Our privacy policy outlines how personal information collected during registration, such as contact details and employment history, is used for job-related services and communication. Users can opt out of automated messages and have control over their personal information. Information may be shared with clients and service providers as necessary, with strict guidelines to ensure privacy and compliance with legal requirements. For more details, please refer to the EULA (End User License Agreement).
</small>

<div class="text-center mt-3">
    <a href="https://www.campuspoint.com/Downloads/CampusPointTermsAndConditions.pdf" class="btn btn-outline-success" title="View full user license agreement" target="_blank">EULA</a>
    <a href="~/" class="btn btn-success" title="Continue with signup">Continue >></a>
</div>