@page
@model IndexModel
@{
    ViewData["Title"] = "Dashboard";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Admin Portal Staging</p>
    <p><strong class="text-success">Coming Soon to a Tor Near You!</strong></p>

</div>
<script>
    //location.href = "Candidates/Search";
</script>
