@{
    Layout = "~/Views/Shared/_BaseLayout.cshtml";
}
@section header { @RenderSection("header", required: false) }
@section scripts { @RenderSection("scripts", required: false) }

@RenderBody()
<main class="container container-expandable" id="site-content">
</main>
