@inherits LayoutComponentBase

<PageTitle>Comms Hub[bz]</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <article class="content px-4 console">
            @Body
        </article>
    </main>
</div>
