<div class="tab-pane fade" id="tab-contact-docs">
    <h5>Documents</h5>
    <ul>
        <li>House Manual (PDF)</li>
        <li>Contract</li>
        <li>Permits / Licenses</li>
        <li>Insurance</li>
        <li>Etc</li>
    </ul>
</div>

