<!-- Contact Detail -->
<div class="modal fade" id="mdl-contact-detail" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-content-wrapper">
                <div class="modal-header">
                    @*<h3 class="modal-title text-dark"><i class="fa fa-id-card"></i> <span class="contact-name">Contact Detail</span></h3>*@
                    <div id="contact-header"></div>
                    <button type="button" class="close" data-dismiss="modal" title="Close"><span aria-hidden="true"><i class="fa fa-times text-danger"></i></span><span class="sr-only">Close</span></button>
                </div>
                <div class="modal-body">
                    details here...
                </div>
                <div class="modal-footer text-right d-none" id="mdl-footer-contact-detail-commands">
                    <div class="btn btn-outline-danger" data-dismiss="modal">Cancel</div>
                    <div class="btn btn-success btn-save">Save</div>
                </div>
            </div>
        </div>
    </div>
</div>

