<div class="tab-pane fade" id="tab-contact-notes">
    <h5>Notes & Activity</h5>
    <ul>
        <li>Journaled notes</li>
        <li>Call Logs</li>
        <li>Tickets / Action Items (??)</li>
        <li>Invoices</li>
    </ul>


    <form data-form-type="notes-person">
        <input type="hidden" name="NoteID" value="" />
        <input type="hidden" name="PersonID" value="" />
        <textarea class="form-control" name="Description" placeholder="Notes"></textarea>
    </form>

</div>

