<!-- Newletter Article -->
<div class="modal fade" id="mdl-news-item" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-content-wrapper">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true"><i class="fa fa-times-circle text-danger"></i></span><span class="sr-only">Close</span></button>
                </div>
                <div class="modal-body"></div>
            </div>
        </div>
    </div>
</div>
