@{
    ViewBag.Title = "GoZone Report";
    ViewBag.TitleIcon = "fa-network-wired";
    ViewBag.Nav = "report-go-zone";

}
<script data-key="d8d67ca1feffff75d1a7c38ca4d18b237efd02983cb991a0c2661be6aa6696db" data-token="afe0268b94b1ecc3b6bea1dd69eed0a7351d2c973534b72ac6ee79a1f9125d1a" data-network-id="403915" src="https://embed.cloudtrax.com/v1.js"></script>
<!-- You may use any amount of the following DIVs on your page -->
<!-- Application data pie chart -->
<div class="cloudtrax-ApplicationPieChart"></div>
<!-- Application data sortable table -->
<div class="cloudtrax-ApplicationTable"></div>
<!-- Network usage histogram -->
<div class="cloudtrax-NetworkHistogram"></div>
<!-- Network map -->
<div class="cloudtrax-NetworkMap"></div>
<!-- Access point sortable table -->
<div class="cloudtrax-NodeTable"></div>
<!-- Access point sortable table with some columns removed for compactness -->
<div class="cloudtrax-NodeTableCompact"></div>
<!-- Client sortable table -->
<div class="cloudtrax-ClientTable"></div>
<!-- Site survey sortable table -->
<div class="cloudtrax-SurveyTable"></div>