    <div class="modal-content">
    <div class="modal-header">
        <h3 class="modal-title"><i class="fa fa-exclamation-triangle text-warning"></i> Confirm Edit</h3>
        <button type="button" class="close" ng-click="cancel()"><span aria-hidden="true"><i class="fa fa-times-circle text-danger"></i></span><span class="sr-only">Close</span></button>
    </div>
    <div class="modal-body">
        <p>
            By editing this work order in Breezeway, the record will be removed from this preview and will need to be re-imported.
        </p>
        <p>
            Do you wish to continue?
        </p>
</div>
        <div class="modal-footer text-right">
            <div class="btn btn-outline-warning" ng-click="cancel()">Cancel</div>
            <div class="btn btn-info btn-breeway-task-edit-confirm" ng-click="ok()">Proceed</div>
        </div>
    </div>



