<div class="text-secondary">
    <p>
        CampusPoint is an Equal Opportunity Employer. All aspects of employment, including the decision to hire, promote, discipline, or discharge, will be based on merit, competence, performance, and business needs. We do not discriminate on the basis of race, color, religion, marital status, age, national origin, ancestry, physical or mental disability, medical condition, pregnancy, genetic information, gender, sexual orientation, gender identity or expression, veteran status, or any other status protected under federal, state, or local law.
    </p>
    <p>
        If you need assistance or an accommodation due to a disability, you may contact us at
        <a href="hr@campuspoint.com">hr@campuspoint.com</a> or
        <a href="tel:1+206-783-9200">(206) 783-9200</a> and ask to speak with an HR representative.
    </p>
    <p>
        The process is outlined in CampusPoint’s
        <a href="https://campuspoint365.sharepoint.com/sites/CandidateResources/Shared%20Documents/Forms/AllItems.aspx?ga=1&id=%2Fsites%2FCandidateResources%2FShared%20Documents%2FEmployee%20Documents%2FNotices%2FADA%20Policy%2Epdf&parent=%2Fsites%2FCandidateResources%2FShared%20Documents%2FEmployee%20Documents%2FNotices" target="_blank">ADA Policy</a>.
    </p>
</div>