/*$orange: #eb9316;*/
$orange: #F99B1C;
$orange-medium: #FAAF49;

$blue: #007ec3;
$blue-medium: #007ec3;
$teal: #17a2b8;

$green: #419641;
$green-medium: #81c341;

$purple: #ae4b84;
$pink: #FF33CC;
$red: #a94442;

$default:#666;

$grey:#ccc;
$grey-medium: #aaa;
$grey-light: #eaeaea;
$grey-dark:#666;
/*$touch: #e1f1f5;*/
$touch: $teal;
